*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 1.15;
}
#wrapper{
    max-width: 1170px;
    margin: 0;
}
.headline{
    text-align: center;
    margin: 40px 0px;
}
h3{
    font-size: 18px;
    color: black ;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid rgb(95, 95, 95);
    display: inline-block;
    font-weight: bold;
}
ul.products{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul.products li{
    flex-basis: 25%;
    padding-left: 100px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
ul.products li img{
    /* width: 200px; */
    max-width: 100%;
    height: auto;
}
ul.products li .product-info{
    padding: 10px 5px;
}
ul.products li .product-info a{
    display: block;
    text-decoration: none;
    color: rgb(139, 136, 136);
    font-size: 18px;
    padding: 5px 0px;
}
ul.products li .product-info a:hover{
    color: black;
}
ul.products li .product-info .product-price{
    color: black;
     padding: 5px 0px;
     font-weight: 900;
     font-size: 15px;
}
ul.products li .product-info .product-price span{
    color: red;
    text-decoration-line: line-through ;
}
ul.products li .product-top a.buy-now{
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: rgb(188, 188, 243);
    color: #fff;
    padding: 8px 10px;
    position: absolute;
    bottom: -36px;
    width: 100%;
    transition: 0.25s ease-out;
    opacity: 0.90;
}
ul.products li .product-top{
    position: relative;
    overflow: hidden;
}
ul.products li .product-top .product-thum{
    display: block;
}
ul.products li:hover .product-top .product-thum img{
    filter: opacity(80%);
}
ul.products li .product-top .product-thumb img{
    display: block;
}
ul.products li:hover a.buy-now{
    bottom: 0px;
}
